/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

/* Time section styles */
#time {
    text-align: center;
    margin-bottom: 20px;
}

#value {
    font-size: 2em;
    font-weight: bold;
}

#taskName {
    font-size: 1.2em;
    color: #888888;
}

/* Form styles */
.tasks-container .form {
    margin-bottom: 20px;
}

.tasks-container .form form {
    display: flex;
}

.tasks-container .form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.tasks-container .form input[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-left: 0;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tasks-container .form input[type="submit"]:hover {
    background-color: #0056b3;
}